<!-- <div id="contact" class="content bg-silver-lighter" data-scrollview="true"> -->
<div class="my-5 text-center">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Contact Us</h2>
    <p class="content-desc">
      The way to get started is to quit talking and begin doing
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-6 -->
      <div
        class="col-lg-6"
        data-animation="true"
        data-animation-type="fadeInLeft"
      >
        <h3>
          If you have a project you would like to discuss, get in touch with us.
        </h3>
        <p>
          Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a
          ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis
          libero dolor a purus.
        </p>
        <p>
          <strong>SeanTheme Studio, Inc</strong><br />
          NCIT, Balkumari<br />
          Lalitpur, Nepal<br />
          P: +977 1234567890<br />
        </p>
        <p>
          <span class="phone">+977 1234567890</span><br />
          <a href="imars@gmail.com" class="text-primary">imars.com.np</a>
        </p>
      </div>
      <!-- end col-6 -->
      <!-- begin col-6 -->
      <div
        class="col-lg-6 form-col"
        data-animation="true"
        data-animation-type="fadeInRight"
      >
      <div class="">
        <form class="form-horizontal ">
          <div class="form-group row m-b-15 ">
            <label class="col-form-label col-md-3 text-md-right"
              ><strong>Name</strong><span class="text-primary"></span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="" 
              (mouseover)="showMessagen()" 
              (mouseleave)="hideMessagen()"
              (input)="onInputChange($event)"/>
              <p class="text-blue"*ngIf="isHovering">enter your name</p>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-3 text-md-right"
              ><strong>Email</strong><span class="text-primary"></span></label
            >
            <div class="col-md-9">
              <input type="text" class="form-control" (mouseover)="showMessagee()" (mouseout)="hideMessagee() "/>
              <p class="text-blue"*ngIf="isSliding">enter your email</p>

            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-3 text-md-right"
              ><strong>Message </strong><span class="text-primary"></span></label
            >
            <div class="col-md-9">
              <textarea class="form-control" rows="10" placeholder="" ></textarea>
              

            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-3 text-md-right"></label>
            <div class="row">
              <div class="col-md-10 p-2 col-md-4 col-md-push-8">
                <button  type="submit" class="btn col-md-4 col-md-pull-8 btn-primary text-center">
                  Send Message
                </button>
  
              </div>
              <div class="col-md-12 col-md-pull-4">
                If you aren't register??<a class="text-blue" href="registration-page" 
                router-link="/registration-page">click here</a>
              </div>
            </div>
          </div>
        </form>
      </div>
        
      </div>
    </div>
  </div>
</div>
