<!-- <div id="contact" class="content bg-silver-lighter" data-scrollview="true"> -->
<div class="my-5 text-center">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Contact Us</h2>
    <p class="content-desc">
      The way to get started is to quit talking and begin doing
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-6 -->
      <div
        class="col-lg-6"
        data-animation="true"
        data-animation-type="fadeInLeft"
      >
        <h3>
          If you have a project you would like to discuss, get in touch with us.
        </h3>
        <p>
          Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a
          ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis
          libero dolor a purus.
        </p>
        <p>
          <strong>SeanTheme Studio, Inc</strong><br />
          NCIT, Balkumari<br />
          Lalitpur, Nepal<br />
          P: +977 1234567890<br />
        </p>
        <p>
          <!-- <span class="phone">+977 1234567890</span><br /> -->
          <a href="https://www.gmail.com/" target="_blank" class="text-primary"
            >imars.com.np</a
          >
        </p>
      </div>

      <div
        class="col-lg-6 form-col"
        data-animation="true"
        data-animation-type="fadeInRight"
      >
        <div>
          <form
            class="form-horizontal"
            (ngSubmit)="onSubmit()"
            #contactForm="ngForm"
          >
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3 text-md-right"
                ><strong>Name</strong><span class="text-primary"></span
              ></label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  name="Name"
                  required
                  [(ngModel)]="formData['Name']"
                />
                <p
                  class="text-blue"
                  *ngIf="
                    contactForm.controls['Name'].touched &&
                    contactForm.controls['Name'].invalid
                  "
                >
                  Please enter your name
                </p>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3 text-md-right"
                ><strong>Email</strong><span class="text-primary"></span
              ></label>
              <div class="col-md-9">
                <input
                  type="email"
                  class="form-control"
                  name="Email"
                  required
                  [(ngModel)]="formData['Email']"
                />
                <p
                  class="text-blue"
                  *ngIf="
                    contactForm.controls['Email'].touched &&
                    contactForm.controls['Email'].invalid
                  "
                >
                  Please enter a valid email
                </p>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3 text-md-right"
                ><strong>Message</strong><span class="text-primary"></span
              ></label>
              <div class="col-md-9">
                <textarea
                  class="form-control"
                  rows="10"
                  name="Message"
                  required
                  [(ngModel)]="formData['Message']"
                ></textarea>
                <p
                  class="text-blue"
                  *ngIf="
                    contactForm.controls['Message'].touched &&
                    contactForm.controls['Message'].invalid
                  "
                >
                  Please enter a message
                </p>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3 text-md-right"></label>
              <div class="row">
                <div class="col-md-10 p-2 col-md-4 col-md-push-8">
                  <button
                    type="submit"
                    class="btn col-md-4 col-md-pull-8 btn-primary text-center"
                    [disabled]="contactForm.invalid"
                  >
                    Send Message
                  </button>
                </div>
                <div class="col-md-12 col-md-pull-4">
                  If you aren't registered?
                  <a
                    class="text-blue"
                    href="registration-page"
                    router-link="/registration-page"
                    >click here</a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
