<div class="my-3 text-center p-20">
  <div class="container pd-t-20">
    <h2 class="content-title">Our Services</h2>
    <p class="content-desc">
      We provide the multiple services with the different facilities with
      differernt ideas <br />
      and our main feedback is we work in feedback system
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12 pd-10">
        <div class="service">
          <div
            class="icon"
            data-animation="true"
            data-animation-type="bounceIn"
          >
            <i class="fa fa-cog"></i>
          </div>
          <div class="info">
            <h4 class="title">Booking</h4>
            <p class="desc">
              Customers must book buses through agents and other known
              individuals.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div
            class="icon"
            data-animation="true"
            data-animation-type="bounceIn"
          >
            <i class="fa fa-paint-brush"></i>
          </div>
          <div class="info">
            <h4 class="title">Clean & Careful Bus</h4>
            <p class="desc">
              Travel in comfort and style with our Clean & Careful Bus service.
              Our buses are meticulously maintained and cleaned to provide a
              hygienic and pleasant environment for your journey. Your safety
              and satisfaction are our top priorities.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div
            class="icon"
            data-animation="true"
            data-animation-type="bounceIn"
          >
            <i class="fa fa-file"></i>
          </div>
          <div class="info">
            <h4 class="title">Food</h4>
            <p class="desc">
              Enjoy delicious meals on board our Clean & Careful Bus. We offer a
              wide variety of delectable food options to satisfy your taste
              buds. Indulge in flavorful dishes prepared with fresh ingredients
              to enhance your journey experience.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div
            class="icon"
            data-animation="true"
            data-animation-type="bounceIn"
          >
            <i class="fa fa-code"></i>
          </div>
          <div class="info">
            <h4 class="title">Online Payment</h4>
            <p class="desc">
              Experience the convenience of making secure online payments for
              your bookings. Our trusted online payment system allows you to
              complete transactions quickly and effortlessly, ensuring a
              seamless and hassle-free process.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div
            class="icon"
            data-animation="true"
            data-animation-type="bounceIn"
          >
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="info">
            <h4 class="title">Destination Information</h4>
            <p class="desc">
              Discover comprehensive and up-to-date information about your
              destination. From popular attractions to local recommendations,
              our destination information will help you make the most of your
              trip and ensure a memorable travel experience.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div
            class="icon"
            data-animation="true"
            data-animation-type="bounceIn"
          >
            <i class="fa fa-heart"></i>
          </div>
          <div class="info">
            <h4 class="title">Free Support</h4>
            <p class="desc">
              Get access to our reliable and dedicated customer support team
              that is ready to assist you with any inquiries or issues you may
              have. We are committed to providing excellent support to ensure
              your satisfaction.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
