<!-- <div id="work" class="content" data-scrollview="true"> -->
<div class="my-5 text-center">
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInDown">
    <h2 class="content-title">Our Peek Destination</h2>
    <p class="content-desc">
      Experience the real beauty of Nepal,<br />
      These are the peek destination of Nepal
    </p>
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/pokhara.jpg" alt="Work 1"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Pokhara</span>
            <span class="desc-text"
              >Experience the serene beauty of Pokhara</span
            >
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/kathmandu.jpg" alt="Work 2"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Kathmandu</span>
            <span class="desc-text"
              >Discover the rich cultural heritage of Kathmandu</span
            >
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/lumbini.jpg" alt="Work 3"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Lumbini</span>
            <span class="desc-text"
              >Visit the birthplace of Lord Buddha in Lumbini</span
            >
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/dhading.jpg" alt="Work 4"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Dhading</span>
            <span class="desc-text"
              >Explore the picturesque landscapes of Dhading</span
            >
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/lamjung.jpg" alt="Work 5"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Lamjung</span>
            <span class="desc-text">Experience the beauty of Lamjung</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/chitwan.jpg" alt="Work 6"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Chitwan</span>
            <span class="desc-text"
              >Discover the wildlife of Chitwan National Park</span
            >
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/ilam.jpg" alt="Work 7"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Ilam</span>
            <span class="desc-text">Explore the tea gardens of Ilam</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"
              ><img src="../assets/img/work/jhapa.jpg" alt="Work 8"
            /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Jhapa</span>
            <span class="desc-text"
              >Experience the natural beauty of Jhapa</span
            >
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
