.navbar-scrolled {
    /* Apply styles to increase the size of the navbar when scrolled over */
    /* Example styles: */
    height: 80px;
    font-size: 20px;
    /* Add any additional styles you want for the larger navbar */
}

#navdesign {
    color: black;
}

#navdesign:hover {
    color: rgb(232, 111, 111);
    background-color: black;
}