<div id="top-nav" class="top-nav">
  <div class="container">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav text-dark">
        <li class="dropdown dropdown-hover">
          <a href="#" data-toggle="dropdown"
            ><img
              src="../../assets/img/flag/flag-english.png"
              class="flag-img"
              alt="" />
            English <b class="caret"></b
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                ><img
                  src="../../assets/img/flag/flag-english.png"
                  class="flag-img"
                  alt=""
                />
                English
              </a>
            </li>
            <li>
              <a class="dropdown-item"
                ><img
                  src="../../assets/img/flag/nepalflag.jpg"
                  class="flag-img"
                  alt=""
                />
                Nepali
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a>Connect with Us</a></li>
        <!-- <li><a href="#">Our Forum</a></li>
        <li><a href="#">Newsletter</a></li> -->
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fab fa-facebook-f f-s-14"></i
          ></a>
        </li>
        <li>
          <a href="https://www.twitter.com/" target="_blank"
            ><i class="fab fa-twitter f-s-14"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fab fa-instagram f-s-14"></i
          ></a>
        </li>
        <li>
          <a href="https://www.dribbble.com/" target="_blank"
            ><i class="fab fa-dribbble f-s-14"></i
          ></a>
        </li>
        <li>
          <a href="https://www.google.com/" target="_blank"
            ><i class="fab fa-google f-s-14"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="header" class="header">
  <div class="container">
    <div class="header-container">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar-collapse"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="header-logo">
        <a>
          <span class="brand-logo"></span>
          <span class="brand-text">
            <span class="text-primary">IM</span>ARS
            <small>Bus Booking</small>
          </span>
        </a>
      </div>

      <div class="header-nav">
        <div>
          <nav class="navbar-nav">
            <li
              class="active nav-item custom-nav-link"
              [ngClass]="{ active: activePage === 'home' }"
            >
              <a routerLink="/main-page" class="navlink" id="navdesign"
                >Home
              </a>
            </li>

            <li
              class="active text-dark nav-item navlink"
              [ngClass]="{ active: activePage === 'bus-details' }"
            >
              <a routerLink="/bus-details" class="" id="navdesign"
                >Bus-Details</a
              >
            </li>
            <!-- <li
              class="active nav-item"
              [ngClass]="{ active: activePage === 'booking-form' }"
            >
              <a routerLink="/booking-form" id="navdesign" class="navlink"
                >Booking Form</a
              >
            </li> -->
            <li
              class="active nav-item"
              [ngClass]="{ active: activePage === 'booking-slip' }"
            >
              <a routerLink="/booking-confirm" id="navdesign" class="navlink"
                >Booking slip</a
              >
            </li>
            <!-- <li
              class="active nav-item"
              [ngClass]="{ active: activePage === 'payment' }"
            >
              <a routerLink="/payment" id="navdesign" class="navlink"
                >Payment</a
              >
            </li> -->
            <li
              class="active nav-item"
              [ngClass]="{ active: activePage === 'user' }"
            >
              <a routerLink="/client-dashboard" id="navdesign" class="navlink"
                >Details</a
              >
            </li>

            <!-- <li
              class="dropdown active nav-item"
              [ngClass]="{ active: activePage === 'bus-category' }"
            >
              <a
                href="#"
                class="dropdown-togglec navlink"
                data-toggle="dropdown"
                class="navlink"
                id="navdesign"
                >Bus-category
              </a>
              <div class="dropdown-menu dropdown-menu-right" claass="navlink">
                <a routerLink="javascript:;" class="dropdown-item">Delux</a>
                <a routerLink="javascript:;" class="dropdown-item"
                  >Super Delux</a
                >
              </div>
            </li> -->

            <ul class="navbar-nav navbar-right">
              <li class="dropdown navbar-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="d-none d-md-inline">User</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  style="background-color: black"
                >
                  <a
                    href="javascript:;"
                    style="color: rgb(253, 253, 253); background-color: black"
                    class="dropdown-item"
                    (click)="logOut()"
                    >Log Out</a
                  >
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
