<div>
  <div class="container text-center">
    <h2 class="content-title">Our Team</h2>
    <p class="content-desc">
      Phasellus suscipit nisi hendrerit metus pharetra dignissim. Nullam nunc
      ante, viverra quis<br />
      ex non, porttitor iaculis nisi.
    </p>
    <div class="row mx-3 my-3">
      <div class="col-lg-3 card my-3">
        <div class="team">
          <div
            class="image"
            data-animation="true "
            data-animation-type="flipInX "
          >
            <img src="../assets/img/user/user-1.jpg " alt="Ryan Teller " />
          </div>
          <div class="info">
            <h3 class="name">Ryan Teller</h3>
            <div class="title text-primary">FOUNDER</div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor.
            </p>
            <div class="social mx-3 my-3">
              <a href="# "><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-twitter fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team">
          <div
            class="image"
            data-animation="true "
            data-animation-type="flipInX "
          >
            <img src="../assets/img/user/user-1.jpg " alt="Ryan Teller " />
          </div>
          <div class="info">
            <h3 class="name">Ryan Teller</h3>
            <div class="title text-primary">FOUNDER</div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor.
            </p>
            <div class="social">
              <a href="# "><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-twitter fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team">
          <div
            class="image"
            data-animation="true "
            data-animation-type="flipInX "
          >
            <img src="../assets/img/user/user-2.jpg " alt="Jonny Cash " />
          </div>
          <div class="info">
            <h3 class="name">Johnny Cash</h3>
            <div class="title text-primary">WEB DEVELOPER</div>
            <p>
              Donec quam felis, ultricies nec, pellentesque eu sem. Nulla
              consequat massa vierra quis enim.
            </p>
            <div class="social">
              <a href="# "><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-twitter fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team">
          <div
            class="image"
            data-animation="true "
            data-animation-type="flipInX "
          >
            <img src="../assets/img/user/user-3.jpg " alt="Mia Donovan " />
          </div>
          <div class="info">
            <h3 class="name">Mia Donovan</h3>
            <div class="title text-primary">WEB DESIGNER</div>
            <p>
              Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
              Aenean ligula imperdiet.
            </p>
            <div class="social">
              <a href="# "><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-twitter fa-lg fa-fw"></i></a>
              <a href="# "><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
