<div>
  <div class="container text-center">
    <h2 class="content-title">Our Team</h2>
    <p class="content-desc">
      Contact the IMARS Team<br />
      House of love power energy
    </p>

    <div class="row mx-3 my-3">
      <div class="col-lg-3 card my-3" *ngFor="let member of team">
        <div class="team">
          <div
            class="image"
            data-animation="true"
            data-animation-type="flipInX"
          >
            <img [src]="member.image" [alt]="member.name" />
          </div>
          <div class="info">
            <h3 class="name">{{ member.name }}</h3>
            <div class="title text-primary">{{ member.title }}</div>
            <p>{{ member.quote }}</p>
            <div class="social mx-3 my-3">
              <a *ngFor="let social of member.social" [href]="social.link">
                <i [class]="social.icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
