<app-main-nav> </app-main-nav>
<div id="page-container">
  <div class="error">
    <div class="error-code">Comming soon</div>
    <div class="error-content">
      <div class="error-message">We are Building it</div>
      <div class="error-desc mb-3 mb-sm-4 mb-md-5">
        Our website IMARS is almost there and it’s rebuilt from scratch! A lot
        of great new features and improvements are coming.
      </div>
      <div>
        <a routerLink="/main-page" class="btn btn-success p-l-20 p-r-20"
          >Go Home</a
        >
      </div>
    </div>
  </div>
</div>
app
<app-footer></app-footer>
