<app-main-nav></app-main-nav>
<div id="about-us-cover" class="has-bg section-container">
  <div class="cover-bg">
    <img src="../assets/img/Bus/Bus2_auto_x2.jpg" alt="" />
  </div>
  <div class="container">
    <div class="about-us text-center">
      <h1>IMARS</h1>
      <p>
        This is online Bus Reservation online bus Reservation for the tour and
        some package. <br />
        Feel free to click and book the bus
      </p>
    </div>
  </div>
</div>

<div id="about-us-content" class="section-container bg-white">
  <div class="container">
    <div class="about-us-content">
      <h2 class="title text-center">What we do?</h2>
      <p class="desc text-center">We Book the bus for the fun</p>
      <hr />
      <div class="row">
        <div class="col-md-4 col-sm-4" *ngFor="let entry of data.work">
          <div class="service">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img src="{{ entry.image }}" class="img-fluid" />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ entry.title }}</h5>
                <p class="card-text">{{ entry.paragraph }}</p>
                <button
                  class="btn btn-primary"
                  (click)="navigateToPage(entry.button.text)"
                >
                  {{ entry.button.text }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-nepaldstinations></app-nepaldstinations>

<app-footer></app-footer>
<div
  class="modal fade"
  id="popupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="popupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalLabel">
          Welcome to the Website!
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This is a popup message that appears when you enter the website.</p>
      </div>
    </div>
  </div>
</div>
