<app-main-nav></app-main-nav>
<div id="about-us-cover" class="has-bg section-container">
  <div class="cover-bg">
    <img src="../assets/img/cover/cover-13.jpg" alt="" />
  </div>
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Main Page</li>
    </ul>

    <div class="about-us text-center">
      <h1>IMARS</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        lobortis tortor justo, elementum volutpat ante porta eu.
      </p>
    </div>
  </div>
</div>

<div id="about-us-content" class="section-container bg-white">
  <div class="container">
    <div class="about-us-content">
      <h2 class="title text-center">What we do?</h2>
      <p class="desc text-center">
        Vestibulum ut enim nec justo imperdiet posuere nec quis odio.<br />
        Nullam non tellus sed urna elementum vitae a erat.
      </p>
      <hr />
      <div class="row">
        <div class="col-md-4 col-sm-4" *ngFor="let entry of data.work">
          <div class="service">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img src="{{ entry.image }}" class="img-fluid" />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ entry.title }}</h5>
                <p class="card-text">{{ entry.paragraph }}</p>
                <button class="btn btn-primary" (click)="actionDetails()">
                  {{ entry.button.text }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
