<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Make your reservation</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi. Perspiciatis.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            <div class="form-group">
                                <span class="form-label">Your Origin</span>
                                <input class="form-control" type="text" placeholder="Enter a Origin Placce" />
                            </div>
                            <div class="form-group">
                                <span class="form-label">Your Destination</span>
                                <input class="form-control" type="text" placeholder="Enter a destination " />
                            </div>
                            <div class="form-group">
                                <span class="form-label">Email</span>
                                <input class="form-control" type="email" placeholder="Enter Your Email " />
                            </div>
                            <div class="form-group">
                                <span class="form-label">OTP</span>
                                <input class="form-control" type="password" placeholder="Enter Your OTP  " />
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Booking Date</span>
                                        <input class="form-control" type="date" required />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Booking Ending Date</span>
                                        <input class="form-control" type="date" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Cost</span>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>

                            <div class="form-btn">
                                <button class="submit-btn" (click)="actionBooking()">
                  Book
                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>