<div id="sidebar" class="sidebar">
    <div data-scrollbar="true" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="../assets/img/user/user-13.jpg" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>Sean Ngu
                        <small>Front end developer</small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li>
                        <a href="javascript:;"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a
            >
          </li>
          <li>
            <a href="javascript:;"
              ><i class="fa fa-question-circle"></i> Helps</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav">
      <li class="nav-header">Navigation</li>
      <li class="has-sub">
        <a routerLink="#dashboard">
          <i class="fa fa-th-large"></i>
          <span>Dashboard</span>
        </a>
                    </li>
                    <li class="has-sub">
                        <!-- <a routerLink="/admin-accepted"> -->
                        <a href="#accepted">
                            <i class="fa fa-th-large"></i>
                            <span>Accepted</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="#rejected">
                            <i class="fa fa-th-large"></i>
                            <span>Rejected</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a routerLink="javascript:;">
                            <i class="fa fa-th-large"></i>
                            <span>Pending</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a routerLink="javascript:;">
                            <i class="fa fa-th-large"></i>
                            <span>Registration</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a routerLink="javascript:;">
                            <i class="fa fa-th-large"></i>
                            <span>Remarks</span>
                        </a>
                    </li>
                </ul>
    </div>
</div>
<div class="sidebar-bg"></div>