<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        role="button"
      >
        <i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.twitter.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.google.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.github.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <section class="mb-4">
      <p>
        This is online Bus Reservation online bus Reservation for the tour and
        some package.and the IMARS means the house of love energy and power. We
        are studying in sixth semeseter in Software Engineering.
        <br />
        we have the dream to suceed in this bus reservation
      </p>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Place</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="https://en.wikipedia.org/wiki/Kathmandu"
                target="_blank"
                class="text-white"
                >Kathmandu</a
              >
            </li>
            <li>
              <a
                href="https://en.wikipedia.org/wiki/Pokhara"
                target="_blank"
                class="text-white"
                >Pokhara</a
              >
            </li>
            <li>
              <a
                href="https://en.wikipedia.org/wiki/Bhairahawa"
                target="_blank"
                class="text-white"
                >Bhairahawa</a
              >
            </li>
            <li>
              <a
                href="https://en.wikipedia.org/wiki/Lamjung"
                target="_blank"
                class="text-white"
                >Lamjung</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="text-white"
                >Facebook</a
              >
            </li>
            <li>
              <a
                href="https://www.Instagram.com/"
                target="_blank"
                class="text-white"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.Linkedin.com/"
                target="_blank"
                class="text-white"
                >Linkedin</a
              >
            </li>
            <li>
              <a
                href="https://www.Twitter.com/"
                target="_blank"
                class="text-white"
                >Twitter</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Food Available</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Veg</a>
            </li>
            <li>
              <a href="#!" class="text-white">Non-Veg</a>
            </li>
            <!-- <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li> -->
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Bus-Categories</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Normal</a>
            </li>
            <li>
              <a href="#!" class="text-white">Delux</a>
            </li>
            <li>
              <a href="#!" class="text-white">Super-Delux</a>
            </li>
            <!-- <li>
              <a href="#!" class="text-white">Link 4</a>
            </li> -->
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white">IMARS</a>
  </div>
</footer>
