<app-main-nav></app-main-nav>
<div class="row row-cols-1 row-cols-md-3 g-4 mx-3">
  <div class="col-lg-3 my-2" *ngFor="let bus of data.buses">
    <div class="card h-100">
      <img [src]="bus.img" class="card-img-top" [alt]="bus.number" />
      <div class="card-body">
        <h5 class="card-title">Bus Number: {{ bus.number }}</h5>
        <p class="card-text">Seat No: {{ bus.seatNo }}</p>
      </div>
      <div class="m-4">
        <button
          class="btn btn-primary"
          (click)="actionBook()"
          *ngIf="bus.available"
        >
          Book Now
        </button>
        <button
          class="btn btn-primary mx-5"
          (click)="actionImage(contentModal, bus.img)"
        >
          See Image
        </button>
      </div>
      <div
        class="card-footer"
        [ngClass]="{ 'bg-success': bus.available, 'bg-danger': !bus.available }"
      >
        <small class="text-light" *ngIf="bus.available">Bus Available</small>
        <small class="text-light" *ngIf="!bus.available"
          >Bus Not Available</small
        >
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #contentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click'); closeModal()"
    ></button>
  </div>
  <div class="modal-body col-lg-12">
    <div class="row">
      <div class="col-md-6">
        <img [src]="selectedBusImage" alt="Bus Image" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <div class="text">hello</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click'); closeModal()"
    >
      Save
    </button>
  </div>
</ng-template>
