<app-main-nav></app-main-nav>
<div class="row row-cols-1 row-cols-md-3 g-4 mx-3 my-3">
  <div class="col-lg-3 my-2" *ngFor="let bus of buses; let i = index">
    <div class="card h-100 d-flex flex-column justify-content-between">
      <img [src]="bus.Image" class="card-img-top" [alt]="'Bus-' + (i + 1)" />
      <div class="card-body d-flex flex-column justify-content-center">
        <h5 class="card-title text-center mb-0">
          Bus Number: {{ bus.BusNumber }}
        </h5>
        <p class="card-text text-center mb-0">Seat No: {{ bus.SeatNumber }}</p>
        <!-- Add category -->
      </div>
      <h4 class="card-text text-center mb-0">Category: {{ bus.BusType }}</h4>
      <div class="m-4">
        <div class="d-flex justify-content-center">
          <!-- <button
            class="btn btn-primary"
            *ngIf="bus.available"
            (click)="actionBook()"
          >
            Book Now
          </button> -->
          <button class="btn btn-primary" (click)="actionBook(bus.BusNumber)">
            Book Now
          </button>
          <button
            class="btn btn-primary mx-5 width-3"
            (click)="actionImage(contentModal, bus.Image)"
          >
            See Image
          </button>
        </div>
      </div>
      <!-- <div
        class="card-footer d-flex justify-content-center"
        [ngClass]="{ 'bg-success': bus.available, 'bg-danger': !bus.available }"
      >
        <small class="text-light" *ngIf="bus.available">Bus Available</small>
        <small class="text-light" *ngIf="!bus.available"
          >Bus Not Available</small
        >
      </div> -->
      <div class="card-footer d-flex justify-content-center">
        <small class="text-light">Bus Not Available</small>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<ng-template #contentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click'); closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <img
      *ngIf="selectedBusImage"
      [src]="selectedBusImage"
      alt="Selected Image"
      class="modal-image"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click'); closeModal()"
    >
      Okay
    </button>
  </div>
</ng-template>
<!-- <ng-template #contentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click'); closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let bus of data.buses">
          <img
            [src]="bus.img"
            alt="Bus Image"
            [class.d-block]="bus === selectedBusImage"
            [class.d-none]="bus !== selectedBusImage"
            class="modal-image"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click'); closeModal()"
    >
      Okay
    </button>
  </div>
</ng-template> -->
