<app-navbar></app-navbar>
<div id="about-us-cover" class="has-bg section-container">
  <div class="cover-bg">
    <img src="../assets/img/cover/cover-13.jpg" alt="" />
  </div>
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Main Page</li>
    </ul>

    <div class="about-us text-center">
      <h1>IMARS</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        lobortis tortor justo, elementum volutpat ante porta eu.
      </p>
    </div>
  </div>
</div>
<app-services></app-services>
<app-about-page></app-about-page>
<app-peek-destination></app-peek-destination>
<app-contact-us></app-contact-us>
<app-footer></app-footer>
