<app-navbar></app-navbar>
<!-- <div id="about-us-cover" class="has-bg section-container">
  <div class="cover-bg">
    <img src="../assets/img/Bus/Bus2_auto_x2.jpg" alt="" />
  </div>
  <div class="container">
    <div class="about-us text-center">
      <h1>IMARS</h1>
      <p>
        The Online Bus Reservation System is a web-based technology meant to
        make bus reservations easier.
      </p>
    </div>
  </div>
</div> -->
<div
  id="about-us-cover"
  class="has-bg section-container"
  style="background-color: black"
>
  <div class="cover-bg">
    <!-- <img
      src="../../assets/img/Bus/imarsbgimage.jpg"
      class="w-100 h-auto"
      alt=""
    /> -->
  </div>
  <div class="container">
    <div class="about-us text-center">
      <h1>IMARS</h1>
      <p class="text-white">
        This is online Bus Reservation online bus Reservation for the tour and
        some package. <br />
        Feel free to click and book the bus
      </p>
    </div>
  </div>
</div>
<app-services></app-services>

<app-about-page></app-about-page>
<app-contact-us></app-contact-us>
<app-nepaldstinations></app-nepaldstinations>
<!-- <app-peek-destination></app-peek-destination> -->
<app-footer></app-footer>
