<app-navbar></app-navbar>
<div id="about-us-cover" class="has-bg section-container">
  <div class="cover-bg">
    <img src="../assets/img/cover/cover-13.jpg" alt="" />
  </div>
  <div class="container">
    <div class="about-us text-center">
      <h1>IMARS</h1>
      <p>
        The Online Bus Reservation System is a web-based technology meant to
        make bus reservations easier.
      </p>
    </div>
  </div>
</div>
<app-services></app-services>
<app-about-page></app-about-page>
<app-peek-destination></app-peek-destination>
<app-contact-us></app-contact-us>
<app-footer></app-footer>
